<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/main.css" type="text/css">
    <title>movie</title>
</head>
<body>
    <div id="Con">
        <header>
            <div class="TopBox">               
                <div class="TopRCon">
                    <nav class="navCon">
                       <ul> <a href="/"> Home </a>  </ul>
                       <ul> <a href="movieLink"> Movies </a>  </ul>
                       <ul> <a href="musicLink"> Musics </a> </ul>
                   </nav>
                </div>
            </div>
            
        </header>
        <main class="mainCon">
            <div class="display_area">
                 <div class="list_everything">                 
                    <div class="movies">
                        <a href="#movie-1">
                            <img src="images/the_whale.jpg" alt="the_whale">
                        </a>
                    </div>

                     <div class="movies">
                        <a href="#movie-2">
                        <img src="images/minions.jpg" alt="minions">
                        </a>   
                    </div>

                    <div class="movies">
                        <a href="#movie-3">
                        <img src="images/thor.jpg" alt="thor">
                        </a>
                    </div>
               
                    <div class="movies">
                        <a href="#movie-4">
                        <img src="images/nope.jpg" alt="nope">
                        </a>
                    </div>

                    <div class="movies">
                        <a href="#movie-5">
                        <img src="images/gray_man.jpg" alt="gray_man">
                        </a>
                    </div>
                    </div>
                    <div class="list_everything">

                    <div class="video-lightboxes">
                        <div id="movie-1" class="video-lightbox">
                            <div class="video-lightbox__content">
                                <a href="#" class="close"> <img src="images/close.png" alt="close"> </a>
                                <video width="100%" muted controls autoplay id="myVideo">
                                    <source src="video/The_Whale.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="video-lightboxes">
                        <div id="movie-2" class="video-lightbox">
                            <div class="video-lightbox__content">
                                <a href="#" class="close"> <img src="images/close.png" alt="close"></a>
                                <video width="100%" muted controls autoplay id="myVideo">
                                    <source src="video/Minions.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                
                    <div class="video-lightboxes">
                        <div id="movie-3" class="video-lightbox">
                            <div class="video-lightbox__content">
                                <a href="#" class="close">  <img src="images/close.png" alt="close"> </a>
                                <video width="100%" muted controls autoplay id="myVideo">
                                    <source src="video/Thor_ Love_and_Thunder.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="video-lightboxes">
                        <div id="movie-4" class="video-lightbox">
                            <div class="video-lightbox__content">
                                <a href="#" class="close">  <img src="images/close.png" alt="close"> </a>
                                <video width="100%" muted controls autoplay id="myVideo">
                                    <source src="video/NOPE.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="video-lightboxes">
                        <div id="movie-5" class="video-lightbox">
                            <div class="video-lightbox__content">
                                <a href="#" class="close">  <img src="images/close.png" alt="close"> </a>
                                <video width="100%" muted controls autoplay id="myVideo">
                                    <source src="video/THE_GRAY_MAN.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

            
            </div>
          
        </main>
    </div>
</body>
</html>