<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <title>music</title>
</head>
<body id="white">
    <div id="Con">
        <header>
            <div class="TopBox">                
                <div class="TopRCon" >
                    <nav class="navBlack">
                       <ul> <a href="/" id="black"> Home </a> </ul>
                       <ul> <a href="movieLink" id="black"> Movies </a>  </ul>
                       <ul> <a href="musicLink" id="black"> Musics </a> </ul>
                   </nav>
                </div>
            </div>
            
        </header>
        <main class="mainCon">
            <div class="display_area">
               <div class="list_everything">
                    <div class="musics">

                       <img src="images/music.png" alt="inspire">
                        <audio src="audio/smoke.mp3" type="audio/mp3" controls></audio>

                        <h3>Smoke - SoulProdMusic</h3>
                    </div>
                    <div class="musics">
                        <img src="images/music.png" alt="clearday">
                        <audio src="audio/waterfull.mp3" type="audio/mp3" controls></audio>
                        <h3>Waterfull - RomanSenykMusic</h3>
                    </div>
                    <div class="musics">
                        <img src="images/music.png" alt="pianomoment">
                        <audio src="audio/risk.mp3" type="audio/mp3" controls></audio>
                        <h3>Risk - StudioKolomna</h3>
                    </div>
                </div>
            </div>            
        </main>

    </div>
</body>
</html>